<html>
    <head>
        <title>SITE DE ALLAS JONY</title>
    </head>
    <body>
        <div>
            <h1><a href="/">SITE DE ALLAS JONY</a></h1>
        </div>

        <div>
            <p>publicado: 20.02.2019, 18:26</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Primeiro posto do analista CEMAR Allas.</p>
        </div>

        <div>
            <p>publicado: 20.02.2019, 18:26</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>E vou para casa ---- ate amanha.</p>
        </div>
    </body>
</html>